{
  "CompileFlags": {
    "Add": [
      "-mcpu=cortex-m4",
      "-mthumb",
      "-mfpu=fpv4-sp-d16 -mfloat-abi=hard",
      "-fdata-sections",
      "-ffunction-sections",
      "-Wall",
      "-O0",
      "-g3",
      "--target=arm-none-eabi",
      "-nostdlib",
      "-ffreestanding",
      "-DSTM32F40_41xxx",
      "-D__CORTEX_M=4",
      "-DARM_MATH_CM4",
      "-D__GNUC__",
      "-D__ARM_ARCH",
      "-DARM_MATH_MATRIX_CHECK",
      "-DARM_MATH_ROUNDING",
      "-IMiddleware",
      "-Iapp",
      "-IDevice/st7789",
      "-IDevice/sh1106",
      "-IDevice/mpu6050",
      "-IDevice/ssd1306",
      "-IDriver_Framework",
      "-IMiddleware/trans",
      "-IControl",
      "-IDriver_Framework/spi",
      "-IBSP/CMSIS/Core/Include/a-profile",
      "-IBSP/stm32f4/Driver",
      "-IBSP/CMSIS/Core/Include",
      "-IBSP/stm32f4/CORE",
      "-IDriver_Framework/display",
      "-IBSP/CMSIS/Core/Include/r-profile",
      "-IDriver_Framework/lcd",
      "-IDriver_Framework/key",
      "-IDriver_Framework/i2c",
      "-IMiddleware/shell",
      "-IDevice",
      "-IBSP/CMSIS/Core/Include/m-profile"
    ],
    "CompilationDatabase": "build"
  },
  "Index": {
    "Background": "Build",
    "StandardLibrary": false
  },
  "InlayHints": {
    "Enabled": true,
    "ParameterNames": true,
    "DeducedTypes": true
  },
  "Hover": {
    "ShowAKA": true
  },
  "Diagnostics": {
    "ClangTidy": {
      "Add": [
        "readability-*",
        "bugprone-*",
        "performance-*"
      ],
      "Remove": [
        "readability-magic-numbers",
        "readability-identifier-length"
      ]
    },
    "Suppress": [
      "pp_file_not_found",
      "unknown_warning_option"
    ]
  }
}